.customers-div-1 {
    display: flex
}

.customers-div-2 {
    position: absolute;
    top: 0;
    left: 40%
}

.customers-div-3 {
    background-color: LightGray;
    width: 800px;
    padding: 20px;
    margin-left: 2%;
    margin-top: 100px
}