.statistics-div-1 {
    display: flex
}

.statistics-div-2 {
    position: absolute;
    top: 0;
    left: 40%
}

.statistics-div-3 {
    background-color: LightGray;
    width: 1000px;
    padding: 20px;
    margin-left: 20%;
    margin-top: 100px;
    height: 600px
}

.statistics-div-4 {
    display: flex;
    justify-content: space-between;
}

.left-graph {
    width: 46%;
    margin-top: 15%
}

.right_graph {
    width: 46%;
}

.select-style {
    background-color: LightGray;
    border-radius: 15px;
    width: 30%;
    height: 10%
}